<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.pa">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_psyche_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_psyche_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PA"
        tools:targetApi="31">
        <activity
            android:name=".Especialista.Testes"
            android:exported="false" />
        <activity
            android:name=".Especialista.Diarios"
            android:exported="false" />
        <activity
            android:name=".Olvide"
            android:exported="false" />
        <activity
            android:name=".Especialista.Expediente"
            android:exported="false" />
        <activity
            android:name=".Paciente.Test"
            android:exported="false" />
        <activity
            android:name=".Paciente.Test1"
            android:exported="false" />
        <activity
            android:name=".Especialista.RegistroA"
            android:exported="false" />
        <activity
            android:name=".Especialista.InicioB"
            android:exported="false" />
        <activity
            android:name=".Paciente.Diario"
            android:exported="false" />
        <activity
            android:name=".Paciente.InicioA"
            android:exported="false" />
        <activity
            android:name=".Paciente.Registro"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>